{% extends "website/base.html" %}
{% block content %}
{% load static %}

    <section class="content4 cid-sqagWcw7XP" id="content4-1a">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="title col-md-12 col-lg-10">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>About D<sup>3</sup>TaLES</strong></h3>


                </div>
            </div>
        </div>
    </section>

    <section class="content6 cid-sqadOCPTYS" id="content6-18">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <hr class="line">
                    <p class="mbr-text align-center mbr-fonts-style my-4 display-5"><strong>Mission:</strong><br>{{ mission }}</p>
                    <hr class="line">
                </div>
            </div>
        </div>
    </section>

    <section class="content5 cid-sqadOcILwb" id="content5-17">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">


                    <p class="mbr-text mbr-fonts-style display-7">D<sup>3</sup>TaLES {{ about }}</p>
                </div>
            </div>
        </div>
    </section>


    <section class="image1 cid-sqlvgvpUlk" id="image1-20">




        <div>
            <div class="row align-items-center">
                <div class="col-12 col-lg-5">
                    <div class="image-wrapper">
                        <img src="{% static 'website/assets/images/leadership_structure.png' %}" alt="Mobirise">

                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="text-wrapper">
                        <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>D<sup>3</sup>TaLES Leadership Structure</strong></h3>
                        <p class="mbr-text mbr-fonts-style display-7">D<sup>3</sup>TaLES leadership, built from a foundation of shared governance, is comprised of a multidisciplinary team of scientists and engineers that bring distinctive perspective to each of the project’s research and outreach objectives. Further, D<sup>3</sup>TaLES seeks to empower our postdoctoral, graduate, and undergraduate scholars to take on leadership positions within the project and provide opportunities for personal by professional growth beyond the laboratory. D<sup>3</sup>TaLES Principal Investigators and Senior Personnel include:
    <br>
    <br><strong>Principal Investigator:</strong><br>Chad Risko, Associate Professor of Chemistry, University of Kentucky
    <br>
    <br><strong>Co-Principal Investigators:</strong><br>Baskar Ganapathysubramanian, Joseph C. and Elizabeth A. Anderlik Professor in Engineering and Professor of Mechanical Engineering, Iowa State University
    <br>Sara Mason, Associate Professor of Chemistry, University of Iowa
    <br>Susan Odom, Associate Professor of Chemistry, University of Kentucky
    <br>Scott Shaw, Associate Professor of Chemistry, University of Iowa
    <br>
    <br><strong>Senior Personnel:</strong><br>David Eaton, Center for Applied Energy Research Program Manager, University of Kentucky
    <br>Judy Jenkins, Associate Professor of Chemistry, Eastern Kentucky University
    <br>Soumik Sarkar, Assistant Professor of Mechanical Engineering, Iowa State University
    <br>Craig Teague, Professor of Chemistry, Cornell College
    <br>
    <br><strong>D<sup>3</sup>TaLES Project Evaluation:</strong><br>Mary Losch, Professor of Psychology and Director of the Center for Social and Behavioral Research, University of Northern Iowa&nbsp;<br></p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="form5 cid-src5ClUuW8" id="form5-2x">

        <div class="mbr-overlay"></div>
        <div class="container">
            <div class="mbr-section-head">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                    <strong>Contact Us</strong>
                </h3>

            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="JBbMD1iTa9hBwr9ZMaRi2+1woEnfMy//iVXc75E4tVuwoIJvhcsdXNdIiBiFKHcLLU2da+sOt7bWXxNHtBHIMdsHJiUBzW3BZK2iI4T7DeloNcQKEfy99lKRDj87yl57">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out
                                the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some
                                problem!</div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-form5-2x">
                            </div>
                            <div class="col-md col-sm-12 form-group" data-for="email">
                                <input type="email" name="email" placeholder="E-mail" data-form-field="email" class="form-control" value="" id="email-form5-2x">
                            </div>

                            <div class="col-12 form-group" data-for="textarea">
                                <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-form5-2x"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn"><button type="submit" class="btn btn-secondary display-4">Send message</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}