{% extends "website/base.html" %}
{% block content %}
{% load static %}

    <section class="features4 cid-sqarkIA7Ko" id="features4-1n">

        <div class="mbr-overlay"></div>
        <div class="container">
            <div class="mbr-section-head">
                <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1"><strong>Documents</strong></h4>

            </div>
            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="assets/images/droplet-main-fuelorange-transparent-506x506.png" alt="" title="">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-5"><strong>Year 1 Report</strong></h5>


                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="" class="btn item-btn btn-secondary display-7" target="_blank">Download</a></div>
                    </div>
                </div>



            </div>
        </div>
    </section>

{% endblock content %}