{% extends "website/base.html" %}
{% block content %}
{% load static %}

    <section class="content7 cid-srR3f9m8rH" id="content7-35">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <blockquote>

                    <p class="mbr-text mbr-fonts-style display-5"><br><br>This page will contain information about D<sup>3</sup>TaLES outreach events as well as registration forms once those events are planned.&nbsp;<br><br><br></p></blockquote>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}