{% extends "website/base.html" %}
{% block content %}
{% load static %}

    <section class="header5 cid-sqaa0FlAMB" id="header5-10">

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-7">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Our Personnel&nbsp;</strong></h1>

                    <p class="mbr-text mbr-fonts-style mbr-white display-5">The D<sup>3</sup>TaLES team consists of over 20 researchers from 5 colleges and universities!&nbsp;</p>

                </div>
            </div>
        </div>
    </section>

    <section class="team1 cid-sqNStwSxtY" id="team1-2u">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                        <strong>Principal Investigators & Senior Personnel</strong></h3>
                </div>
                {% for pi in pis %}
                <div class="col-sm-6 col-lg-4">
                    <div class="card-wrap">
                        <div class="image-wrap">
                            <img src="{{pi.image}}">
                        </div>
                        <div class="content-wrap">
                            <h5 class="mbr-section-title card-title mbr-fonts-style align-center m-0 display-5">
                                <strong>{{ pi.name }}</strong>
                            </h5>
                            <h6 class="mbr-role mbr-fonts-style align-center mb-3 display-4">
                                <strong>{{ pi.university }}</strong>
                            </h6>
                            <p class="card-text mbr-fonts-style align-center display-7">
                                {{ pi.about }}
                            </p>

                            <div class="mbr-section-btn card-btn align-center"><a class="btn btn-primary display-4" href="{{ pi.group_website }}">Group Website</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {% for scholar_group, info in members.items %}
        <section class="content4 cid-sqNTamjXtr" id="content4-2v">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="title col-md-12 col-lg-10">
                        <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>{{ scholar_group }}</strong></h3>
                    </div>
                </div>
            </div>
        </section>

        <section class="team2 cid-sqa9NsrreG" xmlns="http://www.w3.org/1999/html" id="team2-z">
            <div>
                {% for scholar in info %}
                <div class="card">
                    <div class="card-wrapper">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-3">
                                <div class="image-wrapper">
                                    <img src="{{ scholar.image }}" alt="Mobirise">
                                </div>
                            </div>
                            <div class="col-12 col-md">
                                <div class="card-box">
                                    <h5 class="card-title mbr-fonts-style m-0 display-5">
                                        <strong>{{ scholar.name }}</strong>
                                    </h5>
                                    <h6 class="mbr-fonts-style mb-3 display-4">
                                        <strong>{{ scholar.university }}</strong>
                                    </h6>
                                    <p class="mbr-text mbr-fonts-style display-7">
                                        {{ scholar.about }}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}


{% endblock content %}
